<template>
  <div>
    <h1>Home</h1>
    <p>Eingeloggt als: {{user.firstName}} {{user.lastName}}</p>
    <router-view />
  </div>
</template>

<script>
  export default {
    name: 'Home',
    computed: {
      user() {
        return this.$store.state.user || {}
      }
    }
  }
</script>
