<template>
  <div>
    <h1>Login</h1>
    <form @submit.prevent="login">
      <input type="email" required v-model="email">
      <input type="password" required v-model="password">
      <button type="submit" class="btn btn-primary">Login</button>
      <router-link to="/register" tag="button" class="btn btn-primary btn-outlined">Registrieren</router-link>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'Login',
    data: () => ({
      email: '',
      password: ''
    }),
    methods: {
      async login () {
        await this.$store.dispatch('login', {
          email: this.email,
          password: this.password
        })
        this.$router.push('/')
      }
    },
    computed: {
      user () {
        return this.$store.state.user
      }
    }
  }
</script>
