<template>
  <form @submit.prevent="register">
    <input type="text" required maxlength="255" v-model="firstName" placeholder="Vorname">
    <input type="text" required maxlength="255" v-model="lastName" placeholder="Nachname">
    <input type="text" required maxlength="255" v-model="username" placeholder="Username">
    <input type="email" required maxlength="255" v-model="email" placeholder="Email">
    <input type="password" required maxlength="255" minlength="8" v-model="password" placeholder="Passwort">
    <button type="submit" class="btn btn-primary">Registrieren</button>
  </form>
</template>

<script>
  export default {
    name: 'Register',
    data: () => ({
      firstName: '',
      lastName: '',
      username: '',
      email: '',
      password: ''
    }),
    methods: {
      async register() {
        await this.$store.dispatch('register', {
          termsOfUseAccepted: true,
          firstName: this.firstName,
          lastName: this.lastName,
          username: this.username,
          email: this.email,
          password: this.password
        })
        this.$router.push('/')
      }
    }
  }
</script>
