<template>
  <div>
    {{modalId}}

    <slot name="button" :open="open">
      <button type="button" class="btn btn-primary">
        Launch demo modal
      </button>
    </slot>

    <div class="modal fade" id="exampleModal" ref="modalElement" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <slot/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Modal',
    data: () => ({
      modalId: 'modal-' + Math.round(Math.random() * 100000000),
      modal: null
    }),
    mounted () {
      // eslint-disable-next-line no-undef
      this.modal = new bootstrap.Modal(this.$refs.modalElement)
    },
    methods: {
      open() {
        this.modal.show()
      }
    }
  }
</script>
