<template>
  <ul>
    <li>
      <router-link to="/" tag="span">Startseite</router-link>
    </li>
    <li>
      <router-link to="/login">Logout</router-link>
    </li>
    <li>
      <router-link to="/users">User list</router-link>
    </li>
  </ul>
</template>

<style scoped>
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 24px;
    flex-direction: column;
  }
</style>
