<template>
  <div>
    <div class="dashboard-layout">
      <div class="navbar">
        <navbar/>
      </div>
      <router-view/>
    </div>
    <footer>
      Copy &copy; blablabla
    </footer>
  </div>
</template>

<style scoped>
  .dashboard-layout {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
  }

  .dashboard-layout .navbar {
    background-color: #2c2c2c;
    color: white;
  }

  footer {
    border-top: 1px solid red;
    background: lightgray;
  }
</style>

<script>
  import Navbar from '@/components/Navbar'

  export default {
    mounted () {
      this.$store.dispatch('verifyUser')
    },
    components: { Navbar }
  }
</script>
